
h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Arvo', serif;
  }
  
  p, li {
    font-size: 30px;    
    line-height: 2;
    letter-spacing: 1px;
  }

  img {
    display: block;
    margin: 0 auto;
  }